.contact-info {
    text-align: left;
    margin-top: 30px;
    font-size: 1.1em;
    color: #222
}


.contact-info p {
    margin: 15px 0;
    color: #222
}

.contact-info i {
    margin-right: 10px;
    color: #4682B4;
}
.contact-info a {
    color: #222;
    text-decoration: none;
    transition: color 0.3s ease;
}
.contact-info a:hover {
    color: #B0E0E6;
}


.animated-title {
    transition: transform 0.3s ease, color 0.3s ease;
}

.animated-title:hover {
    transform: scale(1.05);
    color: #B0E0E6;
}
